<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {{with .Page}}
        <title>{{.Title}}</title>
    {{else}}
        <title>Blog Demo</title>
    {{end}}

        <link rel="stylesheet" href="{{css "bulma"}}" />
</head>
<body>
        {{template "Content" .}}

        <script src="{{js "vue"}}"></script>
        <script src="{{js "axios"}}"></script>
        <script src="{{js "moment"}}"></script>
        <script src="{{js "mixins"}}"></script>
        {{template "Js" .}}
</body>
</html>